.set_field mat-form-field{
    width: 100%;
    padding: 10px;
    // margin: 20px;
    // padding: 20px;
}
.form{
    background-image: -webkit-linear-gradient(135deg, rgb(101, 84, 241) 0%,
    rgb(21, 209, 229) 35%,
    rgb(243, 120, 239) 100%);
}