<div class="container">
    <mat-tab-group>
        <mat-tab label="confirm" style="height: 0px !important; overflow: hidden !important;">
            <div class="mt-5">
                <div class="col-12">
                    <h3>This is your confirm Appointment</h3>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date</th>
                                <th scope="col">startBookTime</th>
                                <th scope="col">EndBookTime</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let done of confirmed">
                                <!-- {{done}} -->
                                <th scope="row"> {{done.name}}</th>
                                <td> {{done.email}}</td>
                                <td> {{done.phone}}</td>
                                <td> {{done.description}}</td>
                                <td> {{done.date}}</td>
                                <td> {{done.start}}</td>
                                <td> {{done.end}}</td>
                                <td> {{done.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="pending">
            <div class="mt-5">
                <div class="col-12">
                    <h3>This is your pending Appointment</h3>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date</th>
                                <th scope="col">startBookTime</th>
                                <th scope="col">EndBookTime</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pen of pending">
                                <th scope="row"> {{pen.name}}</th>
                                <td> {{pen.email}}</td>
                                <td> {{pen.phone}}</td>
                                <td> {{pen.description}}</td>
                                <td> {{pen.date}}</td>
                                <td> {{pen.start}}</td>
                                <td> {{pen.end}}</td>
                                <td> {{pen.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="cencalled">
            <div class="mt-5">
                <div class="col-12">
                    <h3>This is your cencalled Appointment</h3>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Description</th>
                                <th scope="col">Date</th>
                                <th scope="col">startBookTime</th>
                                <th scope="col">EndBookTime</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let book of cancelled">
                                <th scope="row"> {{book.name}}</th>
                                <td> {{book.email}}</td>
                                <td> {{book.phone}}</td>
                                <td> {{book.description}}</td>
                                <td> {{book.date}}</td>
                                <td> {{book.start}}</td>
                                <td> {{book.end}}</td>
                                <td> {{book.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>