<mat-dialog-content>
    <form [formGroup]='appointmentbooking'>
        <h2 style="text-align: center; margin-top: 30px;">Take Appointment</h2>
        <div class="row">
            <div class="col-6 set_field">
                <mat-form-field>
                    <input matInput type="number" placeholder="location" formControlName="location" name="location">
                </mat-form-field>
            </div>
            <div class="col-6 set_field">
                <mat-form-field>
                    <input  matInput type="number" placeholder="service" formControlName="service" name="service">
                </mat-form-field>
            </div>
            <div class="col-6 set_field">
                <mat-form-field>
                    <input  matInput type="number" placeholder="worker" formControlName="worker" name="worker">
                </mat-form-field>
            </div>
            <div class="col-6 set_field">
                <mat-form-field>
                    <input  matInput type="date" placeholder="date" formControlName="date" name="date">
                </mat-form-field>
            </div>

            <div class="col-6 set_field">
                <mat-form-field>
                    <input  matInput type="time" placeholder="start" formControlName="start" name="start">
                </mat-form-field>
            </div>
            <div class="col-6 set_field">
                <mat-form-field>
                    <input  matInput type="time" placeholder="end" formControlName="end" name="end">
                </mat-form-field>
            </div>
            <div class="col-6 set_field">
                <mat-form-field>
                    <input  matInput type="date" placeholder="end_date" formControlName="end_date" name="end_date">
                </mat-form-field>
            </div>

            <div class="col-6 set_field">
                <mat-form-field>
                    <input  matInput type="text" placeholder="status" formControlName="status" name="status">
                </mat-form-field>
            </div>
            <div class="col-6 set_field">
                <mat-form-field>
                    <input  matInput type="number" placeholder="price" formControlName="price" name="price">
                </mat-form-field>
            </div>
          
            
            <div class="col-6 set_field">
                <mat-form-field>
                    <input [(ngModel)]='obj.name' matInput placeholder="Name" formControlName="name" name="name">
                    <mat-error *ngIf="appointmentbooking.get('name').hasError('required')"> Name is Required!
                    </mat-error>
                    <mat-error *ngIf="appointmentbooking.get('name').hasError('minlength')">
                        Name should be atleast 4 characters long!
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-6 set_field">
                <mat-form-field>
                    <input [(ngModel)]='obj.email' matInput type="email" placeholder="Email" formControlName="email"
                        name="email">
                    <mat-error *ngIf="appointmentbooking.get('email').hasError('required')">email is Required!
                    </mat-error>
                    <mat-error *ngIf="appointmentbooking.get('email').hasError('pattern')">
                        use @ and aslo any number!
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-6 set_field">
                <mat-form-field>
                    <input [(ngModel)]='obj.phone' type="telephone" matInput placeholder="Phone No." minlength=10
                        maxlength=10 formControlName="phone" name="phone">
                    <mat-error *ngIf="appointmentbooking.get('phone').hasError('minlength')">phone no. is atleast 10
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- <div class="col-6">
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date" name="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div> -->
            <!-- <div class="col-12 set_field">
                <mat-form-field>
                    <input matInput type="number" placeholder="userID" formControlName="userID" name="userID">
                </mat-form-field>
            </div> -->
            <div class="col-12 set_field">
                <mat-form-field>
                    <input [(ngModel)]='obj.description' type="text" matInput placeholder="Dscription"
                        formControlName="description" name="description">
                </mat-form-field>
            </div>
            <div class="col-4">
                <button mat-raised-button type="submit" color="primary" [hidden]='isShow'
                    (click)="BookAppointment(appointmentbooking.value)">Book Now</button>
            </div>
            <div class="col-4">
                <button mat-raised-button type="submit" color="primary"
                    (click)="updateapi(appointmentbooking.value)">update</button>
            </div>


        </div>
    </form>

</mat-dialog-content>