.main-div mat-card{
        padding: 50px 20px 50px 20px; 
        margin-top: 10%;
        background-color: lightseagreen;
}
.main-div
 mat-form-field{
    color: black;
}
.toopbar{
    background-color: black;
    color: white;
    margin-bottom: 20px;
}