<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <form [formGroup]="passwords">
            <div class="form-group">
                <label for="resetPasswordEmail">enter email</label>
                <input type="email" formControlName="email" class="form-control" id="resetPasswordEmail" name="email" placeholder="enter email">
            </div>
            <div class="form-group">
                <input type="password" formControlName="password" class="form-control" name="password" placeholder="enter new password">
            </div>
            <button class="btn btn-primary" (click)="pass(passwords.value)">Varify email <i class="fa fa-paper-plane"></i></button>
        </form>
    </div>
</div>