<div class="container">
    <!-- <div class="row"> -->
    <app-mat-dialog-example (send_data)="displayemitdata($event)"></app-mat-dialog-example>

    <mat-tab-group>
        <mat-tab label="confirm">
            <div class="mt-5">
                <div class="col-12">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Description</th>
                                <th scope="col">status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let conf of confirmed">
                                <th scope="row"> {{conf.id}}</th>
                                <td> {{conf.name}}</td>
                                <td> {{conf.email}}</td>
                                <td> {{conf.phone}}</td>
                                <td> {{conf.description}}</td>
                                <td [ngClass]="{'fa fa-check':conf.status ==='confirmed'}"> {{conf.status}}</td>
                                <td><button mat-raised-button [disabled]="conf.status == 'confirmed'" color="primary" (click)="update(conf.id)">Edite</button>
                                    <button mat-raised-button [disabled]="conf.status == 'confirmed'" color="red" (click)="delete(conf.id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-4">
                        <button mat-raised-button type="submit" color="primary" (click)="backHome()">Home</button>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="pending">
            <div class="mt-5">
                <div class="col-12">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Description</th>
                                <th scope="col">status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pen of parent1; let i = index">
                                <th scope="row"> {{pen.id}}</th>
                                <td> {{pen.name}}</td>
                                <td> {{pen.email}}</td>
                                <td> {{pen.phone}}</td>
                                <td> {{pen.description}}</td>
                                <td [ngClass]="{'fa fa-clock-o':pen.status =='pending'}"> {{pen.status}}</td>
                                <td><button mat-raised-button color="primary" (click)="update(pen.id)">Edite</button>
                                    <button mat-raised-button color="red" (click)="delete(pen.id,i)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-4">
                        <button mat-raised-button type="submit" color="primary" (click)="backHome()">Home</button>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="cencalled">
            <div class="mt-5">
                <div class="col-12">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Description</th>
                                <th scope="col">status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cen of cancelled">
                                <th scope="row"> {{cen.id}}</th>
                                <td> {{cen.name}}</td>
                                <td> {{cen.email}}</td>
                                <td> {{cen.phone}}</td>
                                <td> {{cen.description}}</td>
                                <td [ngClass]="{'fa fa-ban':cen.status =='cancelled'}"> {{cen.status}}</td>
                                <td><button mat-raised-button [disabled]="cen.status == 'cancelled'" color="primary" (click)="update(cen.id)">Edite</button>
                                    <button mat-raised-button [disabled]="cen.status == 'cancelled'" color="red" (click)="delete(cen.id)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-4">
                        <button mat-raised-button type="submit" color="primary" (click)="backHome()">Home</button>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <!-- </div> -->
</div>