<!-- <a routerLink="/login">Login</a> -->
<!-- <a routerLinl="/admin">Go To admin</a> -->
<table class="m-auto" border="1" align="center">
    <tr>
        <th>Patients Name</th>
        <th>UserPassword</th>
        
    </tr>
    <tbody *ngIf="allData">
        <tr *ngFor="let val of allUser; let i = index">
            <td>{{val.username}}</td>
            <td>{{val.password}}</td>
        </tr>
    </tbody>
   <!-- <h1>{{response}}</h1> -->
</table>
<button mat-raised-button type="submi" color="primary" (click)="bookappointment()">bookappointment</button>
<button mat-raised-button type="submi" color="primary" (click)="SeeYourAppointments()">SeeYourAppointments</button>
